@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap');

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    margin-bottom: 30px;
}
nav h2 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    font-size: 50pt;
}
nav div {
    flex-grow: 1;
    text-align: center;
}
.backIcon{
    margin-top: 9px;
    padding: 0 !important;
    background-color: #0c0c0c;
    width: 2em !important;
    height: 2em !important;
}


